<html charset="UTF-8">
<head>
  <title>Perl is shiny!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="icon" type="image/svg+xml" href="perl.svg">
  <!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.4/tailwind.min.css" integrity="sha512-paVHVRRhdoOu1nOXKnqDC1Vka0nh7FAmU3nsM4n2FKxOQTeF6crMdMfkVvEsuaOXZ6oEAVL5+wLbQcule/Xdag==" crossorigin="anonymous" referrerpolicy="no-referrer" /-->

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="script.js"></script>
</head>
<body>
<h1><img src="perl.svg" id="logo">Perl is shiny</h1>
<span>Have fun with perl!</span>
<div id="slideshow">
[% PERL %]
  use PPI::Prettify;
  $context->define_filter('prettify', sub {
    PPI::Prettify::prettify({ code => shift });
  });
[% END  %]
[% USE dir = Directory('snippets') %]
[% FOR snippet IN dir.files %]
[%   title = snippet.name.replace("\.pl$", ""); %]
[%   PROCESS $snippet.path | replace('#!.*', '') %]
  <div>
    <div class="slide"><h2>[% title %]</h2>
      [% PROCESS code | replace('\s*#!.*', '') | prettify %]
    </div>
  </div>
[% END %]
</div>
<div id="footer">
<p>Want to see more shiny perl code here? <a href="https://github.com/nicomen/shinyperl">Add a pull request</a></p>
<p>Want to lean perl? <a href="https://learn.perl.org">https://learn.perl.org</a></p>
</div>
</body>
</html>
